/*--------------------------------------------
Style Sheet (for FF3, Safari 3, Chrome 1)

version:     1.0
author:      Newton (info@apermanentwreck.com)
website:     http://www.apermanentwreck.com
--------------------------------------------*/

/* =Reset 
--------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html { background-color:#b5b5b5; color:#666; }

body { font-family: Arial, Helvetica, sans-serif; font-size: small; color: #333; }
* html body { font-size: x-small; f\ont-size: small; }

a { text-decoration: none; cursor: pointer; color: #214b9e; }
	a:visited { text-decoration: none; }
	a:hover { text-decoration: underline; }
	a:focus { outline-style: none; }
	a:active { outline: none; }

	a img { border: none; }
	
p { margin: 10px 0px; }

h1, h2, h3, h4, h5 { font-weight: normal; font-size: 100%; margin: 0px; padding: 0px; }

table { border-collapse: collapse; }


/* =Generic Tags 
--------------------------------------------*/

/* Float Container */
.FLC { clear:both; }
.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	/* IE6 work-around \*/
	* html .FLC { height: 1%; }
	
	/* IE7 work-around */
	html > body .FLC { height: auto; max-height:12000000px; }

/* =Template
--------------------------------------------*/
.main { float: right; width: 781px; position: relative; }
.Nav1 { float: left; width: 125px; margin: 20px 0 0 10px; }


/* =Typography 
--------------------------------------------*/
h1 { font: bold 2.8em/1em 'Arial'; margin: 20px 0 10px; color: #333;  }
strong { color: #333; }
em { text-decoration: underline; color: #4c4c4c; }


/* =Common Page Styles 
--------------------------------------------*/

.Header,
.Content,
.Footer { width: 960px; margin: 0px auto; background-color: #fff; }

/* Header */
.Header { margin: 40px auto 0; padding: 20px 0; border: 1px solid #c1c1c1; border-width: 1px 1px 0; -moz-border-radius: 5px 5px 0 0; }
	.Header h1 { margin: 0 20px; }
		.Header h1 a:hover { text-decoration: none; }
	.Header h2 { font: 14px; letter-spacing: 4px; color: #2b3963; margin: 0 20px; }

/* Content */
.Content { border: 1px solid #c1c1c1; border-width: 0 1px; }
	.Content .main { background-color: #f9f9f9; border: 1px solid #c1c1c1; border-width: 0 0 0 1px; padding: 0 20px 20px; }

	.Content p { line-height: 1.5em; }
	.Content p:first-line { font-weight: bold; color: #000; }
	.Content p:first-letter { float: left; margin: 8px 10px 0 0; font: normal 5em/1em 'Times New Roman'; }
		.Content p + p:first-letter { float: none; margin: 0; font: normal 1em/1em 'Arial'; }
	    .Content p + p:first-line { font-weight: normal; color: #333; }
/* Footer */
.Footer { clear: both; border: 1px solid #c1c1c1; border-width: 1px 0 0; font-size: 1em; }
	
	.Footer .vcard { float: left; margin: 20px; }
		.Footer .vcard .fn { font: bold 1.8em/1.2em 'Arial'; }
			.Footer .vcard .fn:hover { text-decoration: none; }
		.Footer .vcard .adr {}
		    .Footer .vcard .adr .type { display: none; }
		.Footer .vcard .title { color: #000; font-weight: bold; }
		.Footer .vcard ul { float: none; list-style: none; }
			.Footer .vcard ul li { float: none; width: 100%; margin: 2px 0; color: #333; }
	.Footer .bbb { display: block; float: right; margin: 24px 20px; }
	.Footer .copyright { clear: both; background-color: #2b3963; border: 1px solid #000; border-width: 1px; border-color: #000 #2b3963 #2b3963; -moz-border-radius: 0 0 5px 5px; height: 20px; font: .8em/20px 'Arial'; color: #eee; }
		.Footer .copyright p { margin: 0 10px; float: left; }
			.Footer .copyright a { color: #fff; font-weight: bold; }
			.Footer .copyright p.apw { float: right; }
/* Nav1 */
.Nav1 { list-style: none; font-size: 1.5em; line-height: 2em; position: relative; left: 4px; }
	.Nav1 li { padding: 0 10px; }
	.Nav1 li.selected { background-color: #f9f9f9; border: 1px solid #c1c1c1; border-width: 1px 0 1px 1px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; }
		.Nav1 li.selected a { color: #333; }
		.Nav1 li.selected a:hover { text-decoration: none; cursor: default; }
			
/* Breadcrumb */
.Breadcrumb { list-style: none; background-color: #e7e7e7; border: 1px solid #000; border-width: 1px 0; padding: 5px 30px; font-size: 11px; height: 11px; }
	.Breadcrumb li { float: left; margin-right: 5px; }


/* =Page Specifics 
--------------------------------------------*/

#Home {}
    #Home .main p:first-child { margin: 30px 0 10px; }
    #Home h2 { font-size: 2em/1em 'Arial'; font-weight: bold; text-transform: uppercase; color: #333; }

#About {}
    #About .main .lisa { float: right; width: 200px; padding: 5px; margin: 0 0 10px 10px; border: 1px solid #000; -moz-border-radius: 3px; }
    #About .main p { margin: 10px 0 0; }
    #About .main ul { margin-left: 60px; }
    #About .main img { display: block; margin: 20px auto; }
    #About .main .qb + p { margin: 10px 0; }
    #About .main .qb + p:first-letter { float: none; margin: 0; font: normal 1em/1em 'Arial'; }
    #About .main .qb + p:first-line { font: normal 1em/1em 'Arial'; }

#Resources {}
    #Resources .main ul { margin-left: 25px; line-height: 1.5em; }
    #Resources .main ul p:first-letter { float: none; margin: 0; font: normal 1em/1em 'Arial'; }
    #Resources .main ul p:first-line { font: normal 1em/1em 'Arial'; }
    #Resources .main ul p { margin: 0; }
    
#Services {}
    #Services .main ul { margin-left: 25px; }

#Contact {}
    #Contact .main p:first-letter { float: none; margin: 0; font: bold 1em/1em 'Arial'; }
    #Contact .main .warning { color: #900; font-weight: bold; }
    #Contact .main .warning:before { content: "*"; padding-right: 2px; }
    #Contact .main p.warning { background-color: #ffc; border: 1px solid #FACE21; margin: 20px 0; padding: 5px 10px; color: #900; }
    #Contact .main span.warning { margin-left: 10px; }
    #Contact .main span.message { position: absolute; }
	#Contact form { }
	    #Contact form fieldset { position: relative; }
		#Contact form label { display: block; font-size: 14px; }
		#Contact form label:after { content: ":"; }
		#Contact form input[type="text"] { width: 300px; height: 20px; font-size: 16px; color: #999; margin: 2px 0 10px; padding: 2px 5px; }
		#Contact form select { margin: 2px 0 10px; }
		#Contact form textarea { width: 400px; height: 150px; font-family: 'Arial'; margin: 2px 0 10px; padding: 5px; color: #999; }
		#Contact form input[type="submit"] { display: block; background-color: #2B3963; margin: 10px 0; padding: 5px 10px; border: 1px solid #000; -moz-border-radius: 5px; font-size: 16px; color: #fff; cursor: pointer; }
	
