<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Chris Newton (http://chrisnewton.me)" />
		<meta name="description" content="Lisa Newton, EA is merging with Stivers Consulting & Tax Services, Inc." />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Lisa Newton, EA is merging with Stivers Consulting & Tax Services, Inc.</title>

		<link rel="stylesheet" href="/ui/stylesheets/common.css" />
		<link rel="shortcut" href="favicon.ico" />

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2302474-6"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-2302474-6');
		</script>
	</head>

	<body itemscope itemtype="http://schema.org/AccountingService">

		<article class="Body">
			<div class="Frame FLC">
				{{ content }}
			</div>
		</article><!-- Body : end -->

		<footer class="Footer">
			<div class="copyright"><small class="Frame">&copy; 2009-2024. EA Newton. All Rights Reserved.</small></div>
		</footer><!-- Footer : end -->

		{% if page.notification_enabled %}
		<div class="Alert">
			<p class="message">Check out our <a href="/media/2016-year-end-tips.pdf">2016 Year-End Tax Tips</a></p>
		</div>
		{% endif %}
	</body>
</html>
